<?xml version="1.0" encoding="utf-8"?>

<XML>

	<twitter>
		 <consumer_key>7D8Lizzx5EV4mJFs9n9IrA</consumer_key>
		 <consumer_secret>qnyH9AczxqyQIXwgQQ0nIOfXbb4NdVXqPsMlGOwCE</consumer_secret>    
		 <access_token>2322571436-6iZdsZJy9tSymYIgxMu2jO5vM8P0pvE3qVI0gz8</access_token>
		 <access_token_secret>jtpcRbMRD0HC3qZp3xH25H2sz7aSSHsQDYcYGeQLrqldv</access_token_secret>
	</twitter>

</XML>